body {
    background: url(../img/bg.jpg);
}

.x-border-layout-ct, .workspace {
    background-color: transparent;
}

.x-grid-view {
    background-color: #F9F7F7;
}

.helpwindow {
     background-color: white;
     padding: 5px;
}

.helpwindow h2 {
     font-size: 16px;
}

body.login h1 {
    background:transparent url(../img/osz_logo.png) no-repeat;
    height: 170px;
    width: 150px;
    margin: 100px auto 0;
    text-indent: -3000px;
    white-space: nowrap;
}

div.debugMessage {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

#logout{
	float: right;
}


/* OLD */
h1.title {
font-size: 24px;
color: white;
padding: 5px;
}
h1.title sub {
font-size: 50%;
}
h1.title em {
font-style: italic;
}
.header {
background-color: #333;
}
#nav li {
padding: 5px;
                cursor: pointer;
}
#nav li:hover {
background-color: #f3f3f3;
}
